{% extends 'base.html' %}
{% block content %}

<section class="section">

    <form>
        <input type="text" id="input-buscar" placeholder="Buscar...">
    </form>

    <div class="contenedor" id="contenedor-recetas-unicas">
        {% for reci in recipes %}

        <div class="elemento">
            <div class="cara frontal">
                <img src="{{reci.imagen.url}}" alt="Receta">
            </div>

            <div class="cara trasera">
                <div class="info">
                    <h3 class="title">{{reci.title}}</h3>
                    <br>
                    <p>{{reci.description}}</p>
                    <p>{{reci.category}}</p>
                    <a href="{% url 'saurce' reci.id %}" class="boton" type="submit">Ver</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</section>

{% endblock %}
